body {
    font-family: Arial, sans-serif;
}



form {
    width: 350px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(0, 27, 100);
}